.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 24px;
}

.link {
  width: 268px;
  height: 42px;
  padding: 10px 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 100px;
  border-bottom: 4px solid var(--button-primary-border);
  background: var(--color-scheme-foreground-alt);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
  text-decoration: none;
  text-align: center;
}

.link:hover,
.link:focus {
  background: var(--color-scheme-background);
  border-bottom-color: var(--opacity-neutral-darkest-15);
  transform: translateY(-1px);
}

.link:active {
  background: var(--button-primary-bg-active);
  transform: translateY(0);
}

.registerLink {
  background: var(--color-scheme-foreground-alt);
  border-bottom: 4px solid var(--button-primary-border);
}

.loginLink {
  background: var(--button-secondary-bg);
  border-bottom: 4px solid var(--button-secondary-border);
}

.loginLink:hover,
.loginLink:focus {
  background: var(--color-scheme-background);
  border-bottom-color: var(--opacity-neutral-darkest-15);
  transform: translateY(-1px);
}

.loginLink:active {
  background: var(--button-primary-bg-active);
  transform: translateY(0);
}

@media (min-width: 1440px){
 .container {
    align-items: center;
  }

  .link{
    width: 280px;
    height: 46px;
    font-size: 16px;
  }
}