.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 24px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-text);
  text-decoration: none;
  transition:
    background-color 0.2s,
    color 0.2s;
  text-align: center;
  border: none;
  width: 268px;
  height: 42px;
}

.registerLink {
  background: var(--button-primary-bg);
  border-bottom: 4px solid var(--button-primary-border);
}

.registerLink:hover,
.registerLink:focus {
  border-bottom: 4px solid var(--button-primary-border-hover);
  background: var(--button-primary-bg-hover);
}

.registerLink:active {
  background: var(--button-primary-bg-active);
}

.loginLink {
  background: var(--button-secondary-bg);
  border-bottom: 4px solid var(--button-secondary-border);
}

.loginLink:hover,
.loginLink:focus {
  border-bottom: 4px solid var(--button-secondary-border);
  background: var(--button-secondary-bg-hover);
}

.loginLink:active {
  background: var(--button-secondary-bg-active);
}

@media (min-width: 1440px){
 .container {
    align-items: center;
  }

  .link{
    width: 280px;
    height: 46px;
  }
}