.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 16px;
    width: 100%;
}

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: var(--color-scheme-text);
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.cancelButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;


    background: var(--color-scheme-foreground-alt);
    border-bottom: 4px solid var(--color-scheme-accent);
    border-radius: 100px;
    padding: 10px 24px;
    width: 268px;
    height: 42px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-scheme-text);
}

.confirmButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    background: var(--opacity-neutral-darkest-5);
    border-bottom: 4px solid var(--opacity-neutral-darkest-15);
    border-radius: 100px;
    padding: 10px 24px;
    width: 268px;
    height: 42px;
}

.cancelButton:hover,
.cancelButton:focus {
    border-bottom: 4px solid var(--color-scheme-border);
    background: var(--color-scheme-background);
}


.confirmButton:hover,
.confirmButton:focus {
    border-bottom: 4px solid var(--opacity-neutral-darkest-15);
    background: var(--color-scheme-foreground);
}

.cancelButton:active {
    background: var(--color-neutral-light);
}

.confirmButton:active {
    background: var(--color-scheme-accent);
}

@media (min-width: 768px) {
    .modal {
        max-width: 768px;
        padding-top: 0;
    }

    .actions {
        flex-direction: row;
        justify-content: center;
        gap: 24px;
    }

}

@media (min-width: 1440px) {


    .title {
        font-size: 48px;
    }



    .cancelButton,
    .confirmButton {
        height: 46px;
    }

}