.userAvatarSelector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.avatar {
  margin-bottom: 24px;
  border-radius: 50%;
  width: 164px;
  height: 164px;
}

.btn {
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: var(--opacity-neutral-darkest-5);
  box-shadow: 0 5px var(--opacity-neutral-darkest-15);
}

.btn:hover,
.btn:focus {
  background-color: var(--color-white);
}

.btn:active {
  background-color: var(--color-neutral-light);
  box-shadow: none;
}

@media screen and (min-width: 1440px) {
  .btn {
    font-size: 16px;
  }
}
