.userAvatarSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.avatar {
    margin-bottom: 24px;
    background-color: red;
    border-radius: 50%;
    width: 164px;
    height: 164px;
}

.btn {
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
    background-color: #FFFFFF;
}

.btn:active {
    background-color: #B2B2B2;
    box-shadow: none;
}