.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  min-height: 100dvh;
}

.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  gap: 24px;
}

.fildset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.label {
  font-size: 16px;
  margin-bottom: 8px;
}

.input {
  font-family: var(--font-lato);
  font-size: 16px;
  width: 100%;
  height: 37px;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 12px;
  padding: 8px 12px;
  box-sizing: border-box;
  color: var(--input-text);
  outline: none;
}

.input::placeholder {
  font-size: 16px;
  color: var(--input-placeholder);
}

.input:active,
.input:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.invalid {
  border: 1px solid var(--text-error);
}

.errorMessage {
  color: var(--text-error);
  bottom: 0;
  font-size: 16px;
}

.subbtn {
  width: 100%;
  height: 46px;
  margin-bottom: 24px;

  border: none;
  border-radius: 100px;
  border-bottom: 4px solid var(--button-primary-border);
  background: var(--color-scheme-foreground-alt);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
  cursor: pointer;
}

.subbtn:hover,
.subbtn:focus {
  background: var(--color-scheme-background);
  border-bottom-color: var(--opacity-neutral-darkest-15);
  transform: translateY(-1px);
}

.subbtn:active {
  background: var(--button-primary-bg-active);
  transform: translateY(0);
}

.subbtn:disabled {
  background: var(--button-primary-bg-disabled);
  border-bottom-color: var(--button-primary-border-disabled);
  opacity: 0.7;
  cursor: not-allowed;
}

.submitBtn {
  margin-bottom: 0;
}

.paragraph {
  margin: 0 auto;
  text-align: center;
}

.registerLink {
  text-decoration: none;
  color: var(--link-color);
}

.registerLink:hover,
.registerLink:focus {
  border-bottom: 1px solid var(--link-color-hover);
}

.registerLink:active {
  color: var(--link-color-active);
  border-bottom: 1px solid var(--link-color-active);
}

.paragraph {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .registrationForm {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0;
  }

  .form {
    max-width: 480px;
  }

  .input {
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
  }

  .input {
    height: 40px;
  }
  .subbtn {
    font-size: 16px;
  }
}
