.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  min-height: 100dvh;
}

.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  gap: 24px;
}

.fildset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.label {
  font-size: 16px;
  margin-bottom: 8px;
}

.input {
  font-family: var(--font-lato);
  font-size: 16px;
  width: 100%;
  height: 37px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 12px;
  padding: 8px 12px;
  box-sizing: border-box;
  outline: none;
}

.input::placeholder {
  font-size: 16px;
}

.input:active,
.input:focus {
  outline: none;
  border-color: #ffcbd3;
}

.invalid {
  border: 1px solid #c60000;
}

.errorMessage {
  color: #c60000;
  bottom: 0;
  font-size: 16px;
}

.subbtn {
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 16px;
  background-color: #ffdae0;
  height: 46px;
  width: 100%;
  border-radius: 100px;
  outline: none;
  border: none;
  margin-bottom: 24px;
  box-shadow: 0 5px #ffcbd3;
}

.subbtn:hover,
.subbtn:focus {
  background-color: #fff4f6;
  box-shadow: 0 5px rgba(0, 0, 0, 0.15);
}

.subbtn:active {
  background-color: #ffcbd3;
  box-shadow: none;
}

.paragraph {
  margin: 0 auto;
  text-align: center;
}

.registerLink {
  text-decoration: none;
  color: black;
}

.registerLink:hover,
.registerLink:focus {
  border-bottom: 1px solid black;
}

.registerLink:active {
  color: #ffcbd3;
  border-bottom: 1px solid #ffcbd3;
}

.paragraph {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .registrationForm {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0;
  }

  .form {
    max-width: 480px;
  }

  .input {
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
  }

  .input {
    height: 40px;
  }
}
