:root {
  --font-body: var(--font-lato);
  --font-brand: var(--font-comfortaa);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-body), "Segoe UI", sans-serif;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Media */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */

button,
input,
textarea,
select {
  font: inherit;
}

/* Lists */

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 32px;
  }
}