.onbordingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
  width: 100%;
  max-width: 335px;
}

.form {
  width: 100%;
  max-width: 335px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fildset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  /* padding-bottom: 24px; */
  /* position: relative; */
}

.label {
  font-size: 14px;
  margin-bottom: 8px;
}

.input {
  font-family: var(--font-lato);
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  height: 37px;
  background-color: var(--opacity-neutral-darkest-5);
  border: none;
  border-radius: 12px;
  padding: 8px 12px;
  box-sizing: border-box;
  outline: none;
}

.datePlaceholder {
  color: var(--color-neutral);
}

.dateFilled {
  color: var(--color-neutral-darkest);
}

.input:active,
.input:focus {
  outline: none;
}

.invalid {
  border: 1px solid var(--color-red);
}

.errorMessage {
  color: var(--color-red);
  /* position: absolute; */
  bottom: 0;
}

.subbtn {
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 14px;
  background-color: var(--color-scheme-foreground-alt);
  height: 46px;
  width: 100%;
  border-radius: 100px;
  outline: none;
  border: none;
  margin-bottom: 24px;
  box-shadow: 0 5px var(--color-scheme-accent);
}

.subbtn:hover,
.subbtn:focus {
  background-color: var(--color-btn-primary-bg-hover);
  box-shadow: 0 5px var(--opacity-neutral-darkest-15);
}

.subbtn:active {
  background-color: var(--color-scheme-accent);
  box-shadow: none;
}

.paragraph {
  margin: 0 auto;
  text-align: center;
}

.registerLink {
  text-decoration: none;
  color: var(--color-neutral-darkest);
  border-bottom: 1px solid silver;
}

@media screen and (min-width: 768px) {
  .title {
    max-width: 480px;
  }

  .form {
    max-width: 480px;
  }

  .input {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
  }

  .label {
    font-size: 16px;
  }

  .input {
    height: 40px;
    font-size: 16px;
  }

  .subbtn {
    font-size: 16px;
  }
}
