.onbordingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
  width: 100%;
  max-width: 335px;
}

.form {
  width: 100%;
  max-width: 335px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fildset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  /* padding-bottom: 24px; */
  /* position: relative; */
}

.label {
  font-size: 14px;
  margin-bottom: 8px;
}

.input {
  font-family: var(--font-family);
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  height: 37px;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 12px;
  padding: 8px 12px;
  box-sizing: border-box;
  color: var(--input-text);
  outline: none;
}

.datePlaceholder {
  color: var(--input-placeholder);
}

.dateFilled {
  color: var(--input-text);
}

.input:active,
.input:focus {
  outline: none;
}

.invalid {
  border: 1px solid var(--text-error);
}

.errorMessage {
  color: var(--text-error);
  /* position: absolute; */
  bottom: 0;
}

.subbtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);

  background: var(--color-scheme-foreground-alt);
  height: 46px;
  width: 100%;
  border-radius: 100px;
  border: none;
  border-bottom: 4px solid var(--button-primary-border);
  outline: none;
  margin-bottom: 24px;
  cursor: pointer;
}

.subbtn:hover,
.subbtn:focus {
  background: var(--color-scheme-background);
  border-bottom-color: var(--opacity-neutral-darkest-15);
  transform: translateY(-1px);
}

.subbtn:active {
  background: var(--button-primary-bg-active);
  transform: translateY(0);
}

.subbtn:disabled {
  background: var(--button-primary-bg-disabled);
  border-bottom-color: var(--button-primary-border-disabled);
  opacity: 0.7;
  cursor: not-allowed;
}

.registerLink {
  text-decoration: none;
  color: var(--link-color);
  border-bottom: 1px solid var(--border-default);
}

@media screen and (min-width: 768px) {
  .title {
    max-width: 480px;
  }

  .form {
    max-width: 480px;
  }

  .input {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
  }

  .label {
    font-size: 16px;
  }

  .input {
    height: 40px;
    font-size: 16px;
  }

  .subbtn {
    font-size: 16px;
  }
}
