/* === Tabs === */
.tabs {
    margin-top: 32px;
    display: flex;
    width: 100%;
    background: var(--color-accent-bg-soft);
    border-radius: 100px;
    padding: 4px;

    font-family: var(--font-family);
}

.tab {
    flex: 1;
    padding: 8px 12px;
    height: 42px;
    font-weight: 500;
    border: none;
    border-radius: 28px;
    background-color: transparent;
    color: var(--text-primary);
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    line-height: 1.4;
    cursor: pointer;

    font-family: var(--font-family);
}

.tabActive {
    background: var(--color-accent-bg-light);
}

/* === Status === */
.status {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* === Baby Card === */
.babyCard {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 24px;
    background: var(--color-accent-bg-soft);
    border-radius: 32px;
}

.imageColumn {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.imageWrapper {
    width: 100%;
    position: relative;
    background: var(--surface-base);
    border-radius: 24px;
    overflow: hidden;
    height: 379px;
    border: 1px solid var(--color-scheme-border);
}

.image {
    object-fit: cover;
}

.textContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content{
    margin-top: 16px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.caption {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-primary);
}

.paragraph {
    margin-top: 32px;
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-primary);
    white-space: pre-line;
}

/* === Fact Section === */
.factSection {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    border-radius: 12px;
    padding: 12px;
    background-color: var(--color-accent-bg-light);
}

.factWrapperCont {
    display: flex;
    align-items: end;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}

.factWrapperCont p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    align-items: end;
    font-family: var(--font-family);
}

.factTitle {
    font-family: var(--font-family);
    width: 24px;
    height: 24px;
    color: var(--text-primary);
    margin-right: 8px;
}

.factText {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-primary);
}

/* === Mom Cards === */
.momCard {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 32px;
}

.momCardFeelings {
    background: var(--color-accent-bg-soft);
}

.momCardTips {
    background: var(--color-accent-bg-soft);
    margin-top: 24px;
}

.cardTitle {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: var(--font-size-lg);
    line-height: 1.4;
    color: var(--text-primary);
}

/* === Tags === */
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    padding: 0;
    list-style: none;
}

.tag {
    padding: 4px 10px;
    background: var(--opacity-neutral-darkest-5);
    border: 1px solid transparent;
    border-radius: 100px;
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 1.4;
    color: var(--text-primary);
}

/* === Tips === */
.tipsList {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 16px;
    padding: 0;
    list-style: none;
}

.tipItem {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.tipIcon {
    width: 24px;
    height: 24px;
}

.tipContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tipCategory {
    margin: 0 0 4px 0;
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    font-weight: 700;
    line-height: 1.6;
    color: var(--text-primary);
}

.tipText {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-primary);
}

.momLayout {
    display: flex;
    flex-direction: column;
}

.momCardsColumn {
    display: flex;
    flex-direction: column;
}

.momTasksColumn {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}


@media (min-width: 768px) {
    .momTasksColumn {
        margin-top: 24;
    }
}

/* === Desktop === */
@media (min-width: 1440px) {
 

    .tabs {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
       
    }

    .tab {
        width: 273px;
        height: 44px;
        padding: 10px 24px;
        font-size: var(--font-size-md)
    }

    .babyCard {
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
    }

    .imageColumn {
        width: 461px;
        flex-shrink: 0;
    }

    .imageWrapper {
        height: 379px;
    }

    .paragraph {
        margin-top: 0;
        font-size: var(--font-size-md);
        margin-top: 8px;
    }

    .factSection {
        font-size: var(--font-size-md);
    }

    .factText {
        font-size: var(--font-size-md);
    }

    .caption {
        font-size: var(--font-size-md);
    }

    .cardTitle{

        font-size: var(--font-size-xl);
    }

    .tipText{
        font-size: var(--font-size-md);
    }
    .tipCategory{
        font-size: var(--font-size-md);
    }

    /* ------------------------------- */

     .momLayout {
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
        }
    
    .momCardsColumn {
        flex: 1;
    }
    
    .momTasksColumn {
        width: 320px;
        flex-shrink: 0;
        margin-top: 0;
    }


                 .factWrapperCont p {
                     font-size: 16px;
                 }

}