.formWrapper {
  padding: 0px 20px;
  width: 375px;
  height: 436px;
  background: #fff;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputWrapper {
  width: 335px;
  height: 66px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.input {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  width: 335px;
  height: 37px;
  background: rgba(0, 0, 0, 0.05);

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.input:focus {
  border: 2px solid #ffcbd3;
}

.errorMessage {
  color: red;
}

.genderSelect {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  width: 335px;
  height: 40px;
  background: #f2f2f2;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #7f7f7f;
}

.inputDate {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  width: 335px;
  height: 48px;
  background: rgba(0, 0, 0, 0.05);

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #7f7f7f;
}

.buttonWrapper {
  padding: 24px 0px 0px;
  width: 335px;
  height: 62px;
  display: flex;
  gap: 16px;
}

.buttonCancel {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  padding: 8px 20px;
  width: 159px;
  height: 38px;
  background: rgba(0, 0, 0, 0.05);

  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
}

.buttonCancel:hover {
  background: #fff4f6;
}

.buttonCancel:active {
  background: #ffcbd3;
}

.buttonSave {
  border-bottom: 4px solid #ffcbd3;
  border-radius: 100px;
  padding: 8px 20px;
  width: 159px;
  height: 38px;
  background: #ffdae0;

  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
}

.buttonSave:hover {
  background: #fff;
}

.buttonSave:active {
  background: #b2b2b2;
}

.buttonSave:disabled {
  background: #ffdae0;
  opacity: 0.3;
}
