.wrapper {
  padding: 16px 0;
}

/* ================= ROW ================= */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* не переносим */
  gap: 16px;
  justify-content: center;
}

/* ================= CARD (MOBILE DEFAULT) ================= */

.card {
  border: 0;
  border-radius: 32px;
  background: var(--color-pink-50);
  padding: 16px;

  width: 159px;   /* mobile default */
  height: 127px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

/* ================= TEXT ================= */

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size-sm);
  line-height: 1.5;
  color: var(--color-black);
  text-align: left;
}

.value {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: var(--font-size-5xl);
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-black);
  text-align: left;
}

/* ================= TABLET ================= */

@media only screen and (min-width: 768px) {
  .card {
    width: 336px;
    height: 105px;
  }
}

/* ================= DESKTOP ================= */

@media only screen and (min-width: 1440px) {
  .card {
    width: 305px;
    height: 127px;
  }
}