.wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  height: 37px;
  background-color: var(--opacity-neutral-darkest-5);
  border: none;
  border-radius: 12px;
  padding: 8px 12px;
  box-sizing: border-box;
  outline: none;
  color: var(--color-neutral);
}

.select.isOpen {
  border-radius: 12px 12px 0 0;
}

.selectorTitle {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-neutral);
}

.selected {
  color: var(--color-neutral-darkest);
}

.options {
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--color-neutral-lightest);
  width: 100%;
  max-width: 100%;
  padding: 8px 0;
  margin: 0;
  list-style-type: none;
  border-radius: 0 0 12px 12px;
  box-sizing: border-box;
}

.elem {
  height: 37px;
  padding: 12px;
  box-sizing: border-box;
}

.elem:hover {
  background-color: var(--color-gray-150);
}

.errorMessage {
  color: var(--color-red);
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    max-width: 480px;
  }

  .selectorTitle {
    font-size: 16px;
  }

  .select {
    width: 100%;
    max-width: 100%;
  }

  .options {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
  }
}
