.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  min-height: 100dvh;
}

.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.label {
  font-size: 16px;
  margin-bottom: 8px;
}

.input {
  font-family: var(--font-lato);
  font-size: 16px;
  width: 100%;
  height: 37px;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 12px;
  padding: 8px 12px;
  box-sizing: border-box;
  color: var(--input-text);
  outline: none;
}

.input::placeholder {
  font-size: 16px;
  color: var(--input-placeholder);
}

.input:active,
.input:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.inputError {
  border: 1px solid var(--text-error);
}

.error {
  color: var(--text-error);
  font-size: 16px;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 46px;
  border-radius: 100px;
  background: var(--button-primary-bg);
  box-shadow: 0 5px var(--button-primary-border);
  box-sizing: border-box;
  cursor: pointer;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 24px;
}

.button:hover,
.button:focus {
  background-color: var(--button-primary-bg-hover);
  box-shadow: 0 5px var(--button-primary-border-hover);
}

.button:active {
  background-color: var(--button-primary-bg-active);
  box-shadow: none;
}
.submitButton {
  margin-bottom: 0;
}

.linkText {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.registerLink {
  text-decoration: none;
  color: var(--link-color);
}

.registerLink:hover,
.registerLink:focus {
  border-bottom: 1px solid var(--link-color-hover);
}

.registerLink:active {
  color: var(--link-color-active);
  border-bottom: 1px solid var(--link-color-active);
}

@media screen and (min-width: 768px) {
  .container {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0;
  }

  .form {
    max-width: 480px;
  }

  .input {
    height: 40px;
  }

  .button {
    height: 46px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
  }

  .input {
    height: 40px;
  }
  .linkText {
    font-size: 16px;
  }
}
