.breadcrumbs {
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
}

.separator {
  color: var(--color-scheme-text);
  flex-shrink: 0;
}

.link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-scheme-text);
  text-decoration: none;
  padding: 2.5px 8px;
}

.link:hover {
  text-decoration: underline;
}

.current {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-neutral);
  padding: 2.5px 8px;
}

@media (min-width: 1440px) {
  .link {
    font-size: 14px;
    padding: 1px 8px;
  }

  .current {
    font-size: 14px;
    padding: 1px 8px;
  }
}
