.page {
    height: 98vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
    display: flex;
    min-width: 50%;
    justify-content: center;
    align-items: center;
}

.containerImage {
    display: none;

}

.registerImage {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}


@media screen and (min-width: 1440px) {
    .containerImage {
        display: flex;
    }
}