.dashboard {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 32px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: 642px 390px;
    gap: 32px;
    align-items: stretch;
  }

  .leftColumn {
    width: 642px;
  }

  .rightColumn {
    width: 390px;
    justify-content: space-between;
  }
}