.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.logoLink {
  color: inherit;
  text-decoration: none;
}

.burgerMenuButton {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.burgerMenuIcon {
  width: 32px;
  height: 32px;
  display: block;
}

.hideOnDesktop {
  display: flex;
}

@media (min-width: 1440px) {
  .hideOnDesktop {
    display: none;
  }
  .header {
    padding: 16px 16px;
  }
}
