.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px 0;
  max-width: 375px;
  margin: 0 auto;
}

.logoLink {
  color: inherit;
  text-decoration: none;
}

.burgerMenuButton {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.burgerMenuIcon {
  width: 32px;
  height: 32px;
  display: block;
}

.hideOnDesktop {
  display: flex;
}

@media (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media (min-width: 1440px) {
  .hideOnDesktop {
    display: none;
  }
  .header {
    margin: 0;
  }
}
